.header {
    color: #2F3B52;
    margin: 2.5rem 0 1.5rem;
    text-align: center;
}

.body{
    /* text-align: center; */
    background-color: #F6F6F8;
}

input{
    border-style: groove;
    text-align: center;
    margin: 0px 20px 0px 0px;
    width: 130px;
}

button {
    border-style: groove;
}

.shadow{
    box-shadow: 5px 10px 10px rgba(0,0,0,0.03)
}

.inputBox {
    background: white;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.inputBox input{
    border-style: none;
    font-size: 0.9rem;
    text-align: center;
}

input:focus{
    outline: none;
}

button{
    margin-left: 0;
}

.removeBtn{
    margin-left: auto;
}

.serch{
    color: white;
    background-color: black;
    /* width: 500px; */
    height: 30px;
    line-height: 50px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    border-style: none;
    font-size: 0.9rem;
    width: 300px;
}

.serchBox{
    text-align: center;
    padding-top: 15px;
    
}

.hideAndShow{
    float: right;
    margin-top: -100px;
    margin-right: 10px;
    font-size: 30px;
    
}

.icon{
    margin-top: 10px;
    /* margin-right: 10px; */
    padding-right: 10px;
}

.buttonStyle{
    border-style: none;
    background-color: white;
}

.nameSpace{
    padding-right: 10px;
}

.modified{
    border-style: none;
}